@media(max-width:767px){
}
@media(max-width:992px){
  .mobile_separator {
    height:1px;
    background:#111111;
    width:100%;
    display:block;
    clear:both;
    content: " ";
    margin:4vw 0px;
  }
  .s_c_item {
    font-size:3.5vw;
  }
  .s_p_center_mobile {
    text-align:center;
  }
  #piechart {
    display:inline-block;
  }
  .s_i_c_text {
    text-align:center;
  }
  .f_c_title {
    font-size:6vw;
  }
  .f_ico {
    display:none;
  }
  .f_input_btn {
    width:100%;
  }
  .img_slider {
    display:none;
  }
  .s_l_content {
    width:100%;
  }.
  .s_c_t_line {
  }
  .s_c_title {
    font-size:5vw;
    text-align:center;
    line-height:8vw;
  }
  .s_c_title_c {
    font-size:8vw;
    text-align:center;
  }
  .s_l_title {
  font-size:5.5vw;
  margin:2vw 0px;
  }
  .s_r_title {
    text-align:center;
    font-size:4.7vw;
    line-height:4.7vw;
  }
  .s_r_title_bold {
    font-size:6vw;
    line-height:6vw;
    text-align:center;
  }
  #piechart {
    width:50vw;
    height:50vw;
  }
  .steps_image > img {
    height: auto;
  }
  .steps_image {
    margin-bottom:20px;
  }
  .s_r_sumup {
    font-size:4vw;
    line-height:4.5vw;
    text-align:center;
    margin:1.5vw 0px;
  }
  footer {
    text-align:center;
  }
  .s_r_s_bigger {
    font-size:4.5vw;
    text-align:center;
  }
  .s_i_content {
    margin-top:4vw;
  }
  #s_images {
    height:400px;
  }
  /*dawid zmiany*/
  .pie_chart_content > div {
    padding: 10px 20px 0 20px;
  }
  .modal_checkbox {
    height: 72px;
  }
  .btn_register {
    margin-top: 60px;
  }
  .modal-dialog {
    width: 95%;
  }
  .s_btn_orange {
    width: 100%;
  }
  .title_container {
    margin-top: 10px;
  }
  .contact_data {
    margin-top: 30px;
  }
  .contact_title {
    text-align: center;
  }
  .contact_data {
    text-align: center;
  }
  .my_account_title {
    text-align: center;
  }
  .register_date {
    text-align: center;
  }
  .input_label {
    text-align: center;
  }
  .s_r_title_bold {
    text-align: center !important;
  }
  .s_r_title {
    text-align: center !important;
  }
  .s_d_table_button {
	  display:block;
	  text-align:center;
  }
  .s_d_l4_item {
	  text-align:center;
	  font-size:3vw;
  }
  .section_titles {
	  text-align:center;
  }
  .section_titles > span:first-child {
    font-size: 5vw;
	}
	.section_titles > span:last-child {
    font-size: 4vw;
	}
	.s_d_btn_item {
		font-size:3vw;
		width:100%;
	}
	.s_d_title >img {
		display:none;
	}
	.s_d_rows_data>div:first-child {
    border:0px;
	}
	.s_d_l4_item{
    border-bottom:1.2vw solid #000 !important;
	}
	.s_d_rows_data>div:last-child {
    border:0px;
	}
	.s_d_bottom_border {
    border:0px;
    padding: 2vw;
	}
	.database_name > div:nth-child(2) {
    border: 0px;
	}
	.f_margin > .form-group,.f_margin > .form-group> input {
		width:100%;
	}
	.row > .f_margin {
		margin-left:15px;
		margin-right:15px;
	}
  .add_database_title {
    text-align: center;
  }
  .database_checkbox {
    margin-bottom: 33px;
  }
  .status_checkbox {
    width: 100%;
    margin-bottom: 30px;
  }
  .center_text_checkbox {
    padding-left: 0;
  }
  .database_status > div:nth-child(2) {
    padding: 30px;
  }
}

@media(max-width:1199px){
}
@media(max-width:1400px){
}

