@media(max-width:767px){
  .n_menu_item {
    width:100%;
  }
  /* DAWID */
  #header_small p:first-child {
    line-height: 20px;
  }
  #header_small p {
    line-height: 72px;
  }
  .line_height_alter1 {
    line-height: 95px !important;
  }
  .navbar{
    padding: 20px 0;
  }
	.offer_text p:first-child {
    font-size: 28px;
    text-align: center;
  }
  #header_small {
    text-align: center;
  }
  #header_small p {
    font-size: 57px;
  }
  #header_small span {
    display: none;
  }
	#cennik_title {
		font-size: 69px !important;
	}
  #s_offer > div > div > div {
    padding-left: 0;
    padding-right: 0;
  }
	th {
		font-size: 16px;
		white-space:normal;
	}
	.modal_text {
		margin-top: 0 !important;
	}
	.modal_text p:first-child 	{
		font-size: 35px !important;
		text-align: center !important;
	}
	#modal_image {
		padding: 150px 0 !important;
	} 
}
@media(max-width:905px){
  .n_menu_item {
    padding: 6px 3px;
    font-size: 19px;
  }
}
@media(max-width:992px){
  .s_a_content >button {
    width:100%;
  }
  .s_o_element >div >button {
    width:80%;
  }
  .s_o_element >div >p {
    font-size:5vw;
  }
  .s_o_element {
    margin-bottom:25px;
  }
  #s_offer > div > div > div {
    padding: 0;
  }
}
@media(max-width:1180px){
  .s_i_content>div{
    font-size:16px !important;
  }
  .s_i_content>div>i{
    font-size:26px !important;
  }
}
@media(max-width:1400px){
}
@media(max-width:1545px){
  .s_i_content>div{
    font-size:20px;
  }
  .s_i_content>div>i{
    font-size:30px;
  }
}

